{% load static %}
<!DOCTYPE html>
{% for l in logo %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Ciyatrip - Tour & Travel Hotel Booking HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{l.title}}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{l.Icon_Image.url}}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}" />
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css'%}" />
    <!-- Template Style -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <!--=================================
    Header -->
    <header class="header header-3 header-sticky default">
      <div class="topbar d-none d-md-block">
        <div class="container-fluid">
          <div class="topbar-inner">
            <div class="row">
              <div class="col-12">
                <div class="d-lg-flex align-items-center text-center">
                  <div class="topbar-left mb-2 mb-lg-0">
                    <div class="topbar-call d-inline-flex">
                      <a href="mailto:info@example.com"><img src="{% static 'images/phone.svg'%}" alt=""> Call Services {{ l.phone_number }}</a>
                    </div>
                    <div class="me-auto d-inline-flex">
                      <a href="tel:1-800-555-1234"><i class="fa-solid fa-location-dot me-2"></i>{{ l.address }}</a>
                    </div>
                  </div>
                  <div class="topbar-right ms-auto justify-content-center">
                    <div class="social d-inline-flex">
                      <ul class="list-unstyled">
                        <li><a href="{{l.facebook}}"> <i class="fa-brands fa-facebook-f"></i> </a></li>
                        <li><a href="{{l.twitter}}"> <i class="fab fa-twitter"></i> </a></li>
                        <li><a href="{{l.linked_in}}"> <i class="fa-brands fa-linkedin"></i> </a></li>
                        <li><a href="{{l.instagram}}"> <i class="fab fa-instagram"></i> </a></li>
                      </ul>
                    </div>
                    <!--<div class="dropdown d-inline-flex ps-4">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        USD<i class="fas fa-chevron-down fa-xs"></i>
                      </a>
                      <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-dollar-sign"></i> USD</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-indian-rupee-sign"></i> INR</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-euro-sign"></i> EURO</a>
                      </div>
                    </div>
                    <div class="dropdown right-menu d-inline-flex ps-4">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-fluid" src="images/en.png" alt=""> English<i class="fas fa-chevron-down fa-xs"></i>
                      </a>
                      <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/02.jpg" alt="">English</a>
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/09.jpg" alt="">Francais</a>
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/11.jpg" alt="">Deutsch</a>
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/12.jpg" alt="">Italiano</a>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-static-top navbar-expand-lg">
        <div class="container-fluid main-header position-relative">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
          <a class="navbar-brand" href="home">
            <img class="img-fluid" src="{{l.Logo_Image.url}}" alt="logo">
          </a>
          <div class="navbar-collapse collapse justify-content-end justify-content-lg-center">
            <ul class="nav navbar-nav">
              
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/home" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  li><a class="dropdown-item" href="index.html"><span>Home 01</span></a></li>
                  <li><a class="dropdown-item" href="index-02.html"><span>Home 02</span></a></li>
                  <li class="active"><a class="dropdown-item" href="home"><span>Home</span></a></li>
                  <li><a class="dropdown-item" href="index-04.html"><span>Home 04</span></a></li>
                </ul>-->
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/booking" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Booking</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/packages" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Package</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/blog" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
              </li>
              {% if not user.is_authenticated %}
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/login" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Register/Sign-in</a>
              </li>
              {% endif %}
              
              {% if user.is_authenticated %}
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/logout/" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout</a>
              </li>
              {% endif %}
              <!--<li class="dropdown nav-item mega-menu">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="about-us.html"><span>About Us</span></a></li>
                          <li><a class="dropdown-submenu" href="team.html"><span>Team</span></a></li>
                          <li><a class="dropdown-submenu" href="team-detail.html"><span>Team Details</span></a></li>
                          <li><a class="dropdown-submenu" href="booking.html"><span>Booking</span></a></li>
                          <li><a class="dropdown-submenu" href="contact-us.html"><span>Contact us</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4 mt-3 mt-sm-0">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="pricing-plan.html"><span>Pricing Plan</span></a></li>
                          <li><a class="dropdown-submenu" href="faq.html"><span>Faq</span></a></li>
                          <li><a class="dropdown-submenu" href="coming-soon.html"><span>Coming Soon</span></a></li>
                          <li><a class="dropdown-submenu" href="404-error.html"><span>Error 404</span></a></li>
                          <li><a class="dropdown-submenu" href="no-result-found.html"><span>No Result Found</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Authentication</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="sign-in.html"><span>Sign In</span></a></li>
                          <li><a class="dropdown-submenu" href="sign-up.html"><span>Sign Up</span></a></li>
                          <li><a class="dropdown-submenu" href="privacy-policy.html"><span>Privacy policy</span></a></li>
                          <li><a class="dropdown-submenu" href="terms-and-conditions.html"><span>Terms And Conditions</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item mega-menu">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Portfolio<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Style</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-agency.html"><span>Portfolio Agency</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-fancy.html"><span>Portfolio Fancy</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-morden.html"><span>Portfolio Morden</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-gallery-lightbox.html"><span>Photo Gallery</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-3 mt-3 mt-sm-0">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Columns</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-2-columns.html"><span>Portfolio 2 Columns</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-3-columns.html"><span>Portfolio 3 Columns</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-4-columns.html"><span>Portfolio 4 Columns</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-5-columns.html"><span>Portfolio 5 Columns</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Masonry</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-2-masonry.html"><span>Portfolio 2 Masonry</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-3-masonry.html"><span>Portfolio 3 Masonry</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-4-masonry.html"><span>Portfolio 4 Masonry</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-5-masonry.html"><span>Portfolio 5 Masonry</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Single</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-single-01.html"><span>Portfolio Single 01</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-single-02.html"><span>Portfolio Single 02</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-single-03.html"><span>Portfolio Single 03</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Destination<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="destination.html"><span>Destination</span></a></li>
                  <li><a class="dropdown-item" href="destinations-details.html"><span>Destinations Details</span></a></li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Tour<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="tour-search.html"><span>Tour Search</span></a></li>
                  <li><a class="dropdown-item" href="tour-list.html"><span>Tour List</span></a></li>
                  <li><a class="dropdown-item" href="tour-grid.html"><span>Tour Grid</span></a></li>
                  <li><a class="dropdown-item" href="tour-detail.html"><span>Tour Details</span></a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Blog<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="blog-standard.html"><span>Blog Standard</span></a></li>
                  <li><a class="dropdown-item" href="blog-single.html"><span>Blog Single</span></a></li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Shop<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="shop.html"><span>Shop</span></a></li>
                  <li><a class="dropdown-item" href="shop-list.html"><span>Shop List</span></a></li>
                  <li><a class="dropdown-item" href="shop-single.html"><span>Shop Single</span></a></li>
                  <li><a class="dropdown-item" href="shop-cart.html"><span>Shop Cart</span></a></li>
                  <li><a class="dropdown-item" href="shop-checkout.html"><span>Shop Checkout</span></a></li>
                </ul>
              </li>-->
            </ul>
          </div>
          <div class="add-listing">
            <div class="woo-action">
              <ul class="list-unstyled">
                <li class="cart dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="cart-icon"><object type="image/svg+xml" data="{% static 'images/cart.svg'%}" class="icon"></object></span>
                  <span class="cart-count">0</span></button>
                  <div class="dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <!--<ul class="cart-list ps-0">
                      <li class="d-flex">
                        <a class="remove-item" href="#"><i class="fas fa-times"></i></a>
                        <img class="img-fluid me-3" src="images/product/01.jpg" alt="">
                        <div class="cart-info">
                          <a href="#">Extra Fine Wool Jumpers</a>
                          <span class="d-block">1 x 12.49</span>
                        </div>
                      </li>
                      <li class="d-flex">
                        <a class="remove-item" href="#"><i class="fas fa-times"></i></a>
                        <img class="img-fluid me-3" src="images/product/02.jpg" alt="">
                        <div class="cart-info">
                          <a href="#"> Men’s Standard Fit Crew T-Shirt</a>
                          <span class="d-block">1 x 28.72</span>
                        </div>
                      </li>
                    </ul>-->
                    <div class="cart-footer">
                      <div class="d-flex mb-3">
                        <b class="me-auto text-dark">Subtotal:</b>
                        <span>$0</span>
                      </div>
                      <div class="d-inline-block d-sm-flex">
                        <a class="col btn btn-secondary btn-sm me-2 px-4" href="#">View Cart</a>
                        <a class="col btn btn-sm btn-primary ms-0 mt-1 mt-sm-0 ms-sm-2 px-4" href="#">Checkout</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-item header-search">
              <!--<div class="search">
                <ul class="list-unstyled mb-0">
                  <li class="dropdown nav-item header-search search-icon">
                    <a href="#search">
                      <svg version="1.1" id="Capa_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 487.95 487.95" style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1
                              c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4
                              c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
                            </g>
                          </g>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>-->
              <a href="/booking" class="btn btn-primary menu-btn ms-4 d-none d-xl-block">Book Now</a>
            </div>
          </div>
        </nav>
    </header>
      <!--=================================
      Header -->
      <!--=================================
      Search -->
      <div id="search">
        <button type="button" class="close">×</button>
        <form>
          <input type="search" value="" placeholder="type keyword(s) here" />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <!--=================================
      Search -->
      <!--=================================
      Header Inner -->
      <section class="header-inner header-inner-menu bg-overlay-secondary" style="background-image: url({% static 'images/bg/01.jpg'%});">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 position-relative">
              <div class="header-inner-title">
                <div class="section-title pt-5 pt-lg-0">
                  <div class="sub-title"><img  class="img-fluid" src="{% static 'images/title-icon.png'%}" alt="#">
                    <span></span>
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-white text-uppercase" href="/home">Home</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                      </ol>
                  </div>
                  <h2 class="title text-white"><strong>Blog</strong></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-inner-shape" style="background-image: url('images/bg/02.png');"></div>
      </section>
      <!--=================================
      Header Inner -->
      <!--=================================
      Blog -->
      <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="box-shadow blog-detail border-radius p-3 mb-5 mb-lg-0">
                {% for p in post %}
                <div class="blog">
                  <div class="blog-img">
                    <img class="img-fluid rounded" src="{{p.image.url}}" alt="#">
                  </div>
                  <div class="blog-body d-flex flex-wrap align-items-center">
                    <div class="time-card me-3 d-flex align-items-center">
                      <img class="img-fluid rounded me-2" src="{% static 'images/on-time.svg'%}" alt="#">
                      <span>{{p.updated_at}}y</span>
                    </div>
                    <div class="user d-flex align-items-center me-3">
                      <div class="user-img me-2"><img class="img-fluid" src="{{p.author_image.url}}" alt="#"></div>
                      <span>{{p.author}}</span>
                    </div>
                    
                  </div>
                  <a class="title" href="#">{{p.title}}</a>
                  <p class="mt-3">{{p.content}}</p>
                </div>
                {% endfor %}
                  <h4 class="fw-600 mb-4"></h4>
                  <div class="owl-carousel owl-nav-center" data-nav-dots="false" data-nav-arrow="false" data-items="2" data-lg-items="2" data-md-items="2" data-sm-items="1"  data-space="30" data-autoheight="true">
                    <div class="item">
                      <div class="blog">
                        <div class="blog-img">
                          <img class="img-fluid rounded" src="images/blog/02.jpg" alt="#">
                        </div>
                        <div class="blog-body d-flex flex-wrap align-items-center">
                          <div class="time-card me-3 d-flex align-items-center">
                            <img class="img-fluid rounded me-2" src="images/on-time.svg" alt="#">
                            <span>Feb 4, 2022 By</span>
                          </div>
                          <div class="user d-flex align-items-center me-3">
                            <div class="user-img me-2"><img class="img-fluid" src="images/avatar/04.jpg" alt="#"></div>
                            <span>Sara Lisbon</span>
                          </div>
                          <div class="comment d-flex align-items-center">
                            <i class="fa-regular fa-comment me-2"></i>
                            20
                          </div>
                        </div>
                        <a class="title" href="#">We’re National, the sunshine airline. Watch us shine.</a>
                      </div>
                  </div>
                    <div class="item">
                      <div class="blog">
                        <div class="blog-img">
                          <img class="img-fluid rounded" src="images/blog/03.jpg" alt="#">
                        </div>
                        <div class="blog-body d-flex flex-wrap align-items-center">
                          <div class="time-card me-3 d-flex align-items-center">
                            <img class="img-fluid rounded me-2" src="images/on-time.svg" alt="">
                            <span>Sep 14, 2022 By</span>
                          </div>
                          <div class="user d-flex align-items-center me-3">
                            <div class="user-img me-2"><img class="img-fluid" src="images/avatar/03.jpg" alt="#"></div>
                            <span>John Doe</span>
                          </div>
                          <div class="comment d-flex align-items-center">
                            <i class="fa-regular fa-comment me-2"></i>
                            20
                          </div>
                        </div>
                        <a class="title" href="#">You are now free to move about the country.</a>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4 my-sm-5">
                  <div class="row mt-4 mt-sm-5">
                    <div class="col-sm-12">
                      <h4 class="mb-4 mb-lg-5 fw-600"></h4>
                      <!-- comment start 
                      <div class="d-sm-flex">
                        <img class="img-fluid avatar-lg border-radius align-self-start me-3" src="images/avatar/01.jpg" alt="...">
                        <div class="bg-white border border-radius p-3 mt-3 mt-sm-0">
                          <h6 class="mt-0 mb-3 fw-600">John Doe</h6>
                          <p>The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals.</p>
                          <a href="#" class="btn btn-link p-0">Reply</a>
                        </div>
                      </div>
                      <div class="ps-4 ps-sm-5 mt-4 mt-sm-5">
                        <div class="d-sm-flex">
                          <img class="img-fluid avatar-lg border-radius align-self-start me-3" src="images/avatar/02.jpg" alt="...">
                          <div class="bg-white border border-radius p-3 mt-3 mt-sm-0">
                            <h6 class="mt-0 mb-3 fw-600">Paul Flavius</h6>
                            <p>Make the plan as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times.</p>
                            <a href="#" class="btn btn-link p-0">Reply</a>
                          </div>
                        </div>
                      </div>
                      <div class="mt-4 mt-sm-5">
                        <div class="d-sm-flex">
                          <img class="img-fluid avatar-lg border-radius align-self-start me-3" src="images/avatar/03.jpg" alt="...">
                          <div class="bg-white border border-radius p-3 mt-3 mt-sm-0">
                            <h6 class="mt-0 mb-3 fw-600">Martin Smith</h6>
                            <p>Review it regularly and ensure that every step takes you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
                            <a href="#" class="btn btn-link p-0">Reply</a>
                          </div>
                        </div>
                      </div>
                      comment end -->
                    </div>
                  </div>
                  <!--<div class="mt-5">
                    <h4 class="mb-4 mb-lg-5 fw-600">Leave a Reply</h4>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <form>
                      <div class="row">
                        <div class="mb-3 col-md-4">
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="mb-3 col-md-4">
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="mb-3 col-md-4">
                          <input type="text" class="form-control" placeholder="Website">
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <textarea rows="8" class="form-control" id="sector" placeholder="Comment"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class=" mb-3 col-md-12">
                          <div class="custom-control form-check">
                            <input type="checkbox" class="form-check-input" id="customCheck1">
                            <label class="form-check-label" for="customCheck1">I consent to having this website store my submitted information so they can respond to my inquiry.</label>
                          </div>
                        </div>
                      </div>
                      <a href="#" class="btn btn-primary">Post Comment</a>
                    </form>
                  </div>-->
                </div>
              </div>
              <div class="col-lg-4">
                <div class="sidebar">
                  <div class="widget">
                    <div class="widget-title">
                      <h5 class="widget-title fw-600">Recent Post</h5>
                    </div>
                    {% for p in posts %}
                    <div class="blog blog-style-2 d-flex align-items-center mb-4">
                      <div class="blog-img me-3">
                        <img  class="img-fluid" src="{{p.image.url}}" alt="#">
                      </div>
                      <div class="blog-body pt-0">
                        <div class="time-card me-3 d-flex align-items-center">
                          <img class="img-fluid rounded me-2" src="{% static 'images/on-time.svg'%}" alt="#">
                          <span>{{ p.updated_at }}</span>
                        </div>
                        <a href="/blog/viewblog/{{p.id}}">{{ p.title }}</a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="widget">
                    <h5 class="widget-title fw-600"> Subscribe & Follow</h5>
                    <div class="widget-content mt-4">
                      <div class="social">
                        <ul class="list-unstyled mb-0">
                          <li class="facebook">
                            <a href="{{ l.facebook }}"> <i class="fab fa-facebook-f me-3"></i>Facebook</a>
                            <a class="follow ms-auto" href="{{ l.facebook }}">Like </a>
                          </li>
                          <li class="twitter">
                            <a href="{{ l.twitter }}"> <i class="fab fa-twitter me-3"></i>twitter</a>
                            <a class="follow ms-auto" href="{{ l.twitter }}">followers </a>
                          </li>
                          <li class="instagram">
                            <a href="{{ l.instagram }}"> <i class="fab fa-instagram me-3"></i>instagram</a>
                            <a class="follow ms-auto" href="{{ l.instagram }}">followers </a>
                          </li>
                          <li class="linkedIn mb-0">
                            <a href="{{ l.linked_in }}"> <i class="fab fa-linkedin-in me-3"></i>linkedIn</a>
                            <a class="follow ms-auto" href="{{ l.linked_in }}">followers </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--=================================
        Blog -->
        <!--=================================
        footer-->
        <footer class="footer footer-style-03 bg-holder" style="background-image: url({% static './images/bg/06.jpg'%}); ">
          <div class="min-footer">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-3 col-lg-2 mb-4 mb-md-0">
                  <a class="footer-logo" href="home">
                    <img class="img-fluid" src="{{l.Logo_Image.url}}" alt="logo">
                  </a>
                </div>
                <div class="col-md-5 col-lg-5 mb-4 mb-md-0">
                  <p class="mb-0">{{l.Tag_Line}}</p>
                </div>
                <div class="col-md-4 col-lg-5">
                  <div class="social-icon space-right">
                    <ul>
                      <li><a href="{{l.facebook}}"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="{{l.twitter}}"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="{{l.linked_in}}"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a href="{{l.instagram}}"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="b-bottom"></div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <h6 class="footer-title fw-600">Our Newsletter</h6>
                  <p class="mb-4">Sign Up to our Newsletter to get the latest news and offers.</p>
                  <form class="mb-0">
                    <input type="email" class="form-control border-0" placeholder="Your Email">
                    <button type="submit" class="btn btn-primary">Get Notified</button>
                  </form>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <h6 class="footer-title fw-600">Quick Link</h6>
                  <div class="footer-menu dark-text">
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="tour-search.html">Tours</a></li>
                      <li><a href="destination.html">Destinations</a></li>
                      <li><a href="blog-standard.html">Blog</a></li>
                      <li><a href="shop.html">Shop</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <h6 class="footer-title fw-600">Support</h6>
                  <div class="footer-menu dark-text">
                    <ul>
                      <li><a href="terms-and-conditions.html">Terms of Use</a></li>
                      <li><a href="privacy-policy.html">Privacy Policy</a></li>
                      <li><a href="faq.html">FAQs</a></li>
                      <li><a href="pricing-plan.html">Pricing & Plan</a></li>
                      <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
                  <div class="footer-link">
                    <h6 class="footer-title fw-600">Contact Travel</h6>
                    <div class="footer-contact-info">
                      <ul class="list-unstyled mb-0">
                        <li><img class="img-fluid" src="{% static 'images/address.png'%}" alt=""><span class="address">{{l.address}}</span></li>
                        <li><img class="img-fluid" src="{% static 'images/phone.png'%}" alt=""><span class="phone">{{l.phone_number}}</span></li>
                        <li><img class="img-fluid" src="{% static 'images/email.png'%}" alt=""><span class="email">{{l.email}}</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center copyright text-center mt-4 mt-md-5">
                <div class="col-12">
                  <p class="mb-0 text-dark"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="index.html"> Ciyatrip </a> All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!--=================================
        footer-->
        <!--=================================
        Javascript -->
        <!-- JS Global Compulsory (Do not remove)-->
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/popper/popper.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
        <script src="js/owl-carousel/owl.carousel.min.js"></script>
        <!-- Template Scripts (Do not remove)-->
        <script src="js/custom.js"></script>
    </body>
</html>
{% endfor %}
