{% load static %}
<!DOCTYPE html>
{% for l in logo %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Ciyatrip - Tour & Travel Hotel Booking HTML Template" />
        <meta name="author" content="potenzaglobalsolutions.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{l.Title}}</title>
        <!-- Favicon -->
    <link rel="shortcut icon" href="{{l.Icon_Image.url}}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

        <!-- CSS Global Compulsory (Do not remove)-->
        <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css'%}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}" />

        <!-- Template Style -->
        <link rel="stylesheet" href="{% static 'css/style.css'%}" />
        </head>
        <body>
        <!--=================================
        Header -->
        <header class="header header-transparent-2 sign-header">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-end">
              <div class="col-lg-12">
                <a class="navbar-brand" href="home">
                  <img class="img-fluid" src="{{l.Logo_Image}}" alt="logo">
                </a>
              </div>
              </div>
            </div>
       </header>
        <!--=================================
        Header -->

       <!--=================================
        sign in -->
          <section class="sign-in bg-holder vh-100">
            <div class="container-fluid">
              <div class="row justify-content-between vh-100">
                <div class="col-lg-12 col-xl-4 g-0">
                  <div class="sign-in-bg h-100 px-5 py-5 align-items-center justify-content-center d-flex text-center"  style="background-image: url(./images/error/01.png);">
                   <div class="sing-title">
                      <h1 class="text-white mb-0">Hello, Friend!</h1>
                      <p class="text-white">Enter your personal details and start journey with us</p>
                      <a href="register" class="btn btn-primary">Sign Up</a>
                   </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-7 align-self-center">
                  <div class="sign-in-content h-100">
                   <div class="section-title text-center">
                    <h2 class="primary-text">Sign in Account</h2>
                   </div>

                      <form class="row mt-4 mb-4 mb-sm-5 align-items-center form-flat-style" method="post">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="mb-3 col-sm-12">
                          <label class="form-label">{{ field.label_tag }}</label> <br>
                          {{ field }}
                          
                        </div>
                        {% endfor %}
                        
                        <!--<div class="col-sm-6 mb-3 text-md-end"><a href="#">Forget Password?</a></div>-->
                        <div class="col-sm-6 d-grid">
                          <button type="submit" class="btn btn-primary btn-flat">Sign in</button>
                        </div>
                        <div class="col-sm-6">
                          <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3 justify-content-sm-end">
                            <li class="me-1">Don't have an account? <a class="text-dark" href="register">Create Account</a></li>
                          </ul>
                        </div>
                      </form>
                      <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm border-radius">
                        {% for m in message %}
                        {{m}}
                        {% endfor %}
                      </div>
                      </div>
                </div>
              </div>
            </div>
          </section>
      <!--=================================
        sign in -->

        <!--=================================
        Javascript -->
        <!-- JS Global Compulsory (Do not remove)-->
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/popper/popper.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>

        <!-- Template Scripts (Do not remove)-->
        <script src="js/custom.js"></script>
    </body>
</html>
{% endfor %}
